.wrapper {
  overflow: hidden;
  min-height: 100%;
}

._container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 10px;
}
.sup {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

/*-----Header----------------------------------------*/

.header {
  position: absolute;
  width: 100%;
}
.header__body {
  display: flex;
  height: 100px;
  justify-content: space-between;
}
._container {
}
.logo {
  display: block;
  margin-top: 38px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 23px;
  line-height: 31px;

  color: #31353b;
}

.menu a {
  display: block;
  width: fit-content;
  color: inherit;
  margin-bottom: 20px;
}
.menu a::after {
  margin-top: 10px;
  content: " ";
  display: block;
  height: 4px;
  background-color: black;
  border-radius: 2px;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 500ms;
}
.menu a:hover::after {
  transform: scaleX(1);
}

.cross {
}
.main {
}
.footer {
}

.header__viewbox {
  position: relative;
  height: 40px;
  width: 40px;
  margin: 38px 38px 0 0;
  overflow: hidden;
  z-index: 6;
}

.icon {
  display: block;
  height: 40px;
  width: 40px;
}

.header__check {
  margin: 0;
  appearance: none;
}
.header__label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  height: 80px;
}
.header__icons {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 500ms;
}
.header__check:checked {
  background-color: red;
}

.header__check:checked + .header__label > .header__icons {
  transform: translateY(-50%);
}

.menu {
  position: absolute;
  padding-top: 100px;
  padding-left: 25px;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: #8599dc;
  width: 200px;

  z-index: 5;
  margin: 0;
  transition: transform 500ms;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 17px;
}
.menu-hidden {
  transform: translateY(-100%);
}

.menu-shown {
  transform: translateY(0);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background-color: rgba(13, 12, 12, 0.5);
  transition: transform 250ms;
  z-index: 3;
}

.overlay-hidden {
  transform: translateY(-100%);
}
.overlay-shown {
  transform: translateY(0);
}

@media screen and (min-width: 600px) {
  .header__viewbox {
    display: none;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    position: static;
    transform: translateY(0);
    padding: 0;
    margin: 0;
    width: min(487px, 52%);
    gap: 10px;
    background-color: inherit;
    margin-top: 34px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    color: #000000;
  }
}

/*-----Main----------------------------------------*/
/*-----Hero----------------------------------------*/
.hero {
  position: relative;
}

.back {
  position: absolute;
}
.background--mobile {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background__blue-part--mobile {
  position: absolute;
  right: 0;
  top: 0;
  width: 35.5%;
  height: 100%;
  background-color: #bdccff;
  z-index: -1;
}
.hero__title {
  padding-top: 107px;
  margin-bottom: 24px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  color: #ff9900;
}

.hero__strong {
  display: block;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: calc(73 / 56 * 100%);
  color: #000000;
  margin-bottom: 23px;
}

.hero__text {
  margin-bottom: 48px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.01em;
  color: #31353b;
}

.hero__form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.hero__form input {
  padding: 0;
  display: block;
  height: 60px;
  width: 65.5%;
  min-width: 245px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(27 / 20 * 100%);
  color: rgb(49, 53, 59, 0.3);
  opacity: 0.5;
  padding-left: 10px;
}
.hero__form button {
  min-height: 60px;
  padding: 0;
  width: 34.5%;
  background-color: #f85a47;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 0.01em;
  color: #ffffff;
  border: none;
}

.image-container {
  position: relative;
  margin: 15px auto 0 auto;
  width: min(603px, 100%);

  filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.03))
    drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778))
    drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222))
    drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.015))
    drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778))
    drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222));
}

.image-container img {
  width: 100%;
}
.image-container button {
  background-color: rgb(49, 53, 59, 0);
  border: none;
}
.arrows-container {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  gap: 10px;
}

.arrow {
  fill: red;
  width: 60px;
  height: 60px;
}
.socials {
  margin-top: 15px;
}
.socials__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}
.socials__icon {
  height: 40px;
  width: 40px;
}
.partners {
  margin: 20px auto 0 auto;
}
.partners__header {
  max-width: 174px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.01em;
  color: #31353b;
  margin: 0 auto 20px auto;
}
.partners li {
  display: block;
  width: 80px;
  min-width: 80px;
  height: 20px;
  flex: 1 0 25%;
}

.partners__list {
  display: flex;

  flex-wrap: wrap;
  gap: 30px 50px;
  justify-content: space-around;
}

.partners__icon {
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
  .background__blue-part--mobile {
    position: absolute;
    right: 0;
    top: 0;
    width: 35.5%;
    height: auto;
    background-color: #bdccff;
    z-index: -1;
  }
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1300px;
    z-index: -1;
  }
  .background__blue-part {
    position: absolute;
    right: 0;
    top: 0;
    width: 35.5%;
    height: 100%;
    background-color: #bdccff;
    z-index: -1;
  }

  .hero__strong {
    display: block;
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 54px;
    line-height: calc(73 / 56 * 100%);
    color: #000000;
    margin-bottom: 23px;
    width: min(484px, 100%);
  }
  .hero__text {
    width: min(499px, 100%);
  }
  .hero__form {
    width: min(100%);
  }

  .hero__form input {
    padding: 0;
    display: block;
    height: 86px;
    width: 65.2%;
    min-width: 245px;

    font-size: 20px;
    line-height: calc(27 / 20 * 100%);
    color: rgb(49, 53, 59, 0.3);
    opacity: 0.5;
    padding-left: 10px;
    background-color: rgb(255, 255, 255);
  }
  .hero__form button {
    min-height: 86px;
    padding: 0;
    width: 24.87%;
    width: 188px;
    font-size: 17px;
    line-height: calc(23 / 17 * 100%);
  }
  .partners li {
    display: block;
    width: 80px;
    min-width: 80px;
    height: 20px;
    flex: 1 0 25%;
  }
  .partners__icon {
    display: block;
    margin: 0 auto;
  }
}
@media screen and (min-width: 900px) and (max-width: 1204px) {
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    z-index: -1;
  }
  .hero__title {
    padding-top: 107px;
    margin-bottom: 24px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    color: #ff9900;
  }

  .hero__strong {
    display: block;
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: calc(73 / 56 * 100%);
    color: #000000;
    margin-bottom: 23px;
    width: 400px;
  }

  .hero__text {
    margin-bottom: 48px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #31353b;
    width: 400px;
  }

  .hero__form {
    width: min(100%, 600px);
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03),
      0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778),
      0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222),
      0px 20px 13px rgba(0, 0, 0, 0.015),
      0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778),
      0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
  }
  .subcontainer {
    position: relative;
    width: 900px;
    height: 100%;
    margin: 0 auto;
  }

  .hero__form input {
    padding: 0;
    display: block;
    height: 86px;
    width: 73.5%;
    min-width: 245px;

    font-size: 20px;
    line-height: calc(27 / 20 * 100%);
    color: rgb(49, 53, 59, 0.3);
    opacity: 0.5;
    padding-left: 10px;
    background-color: rgb(255, 255, 255);
  }
  .hero__form button {
    min-height: 86px;
    padding: 0;
    width: 24.87%;
    font-size: 17px;
    line-height: calc(23 / 17 * 100%);
  }
  .image-container {
    position: absolute;
    width: 450px;
    right: 10px;
    top: 100px;
    z-index: -1;
    margin: 0;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.03))
      drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778))
      drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222))
      drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.015))
      drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778))
      drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222));
  }
  .socials {
    margin-top: 50px;
  }
  .partners {
    margin: 0;
    margin-top: 30px;
  }
  .partners__header {
    max-width: 174px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #31353b;
    margin: 0 0 27px 0;
  }

  .partners li {
    display: block;
    width: fit-content;
    height: fit-content;
    flex: 0 0 fit-content;
  }

  .partners__list {
    display: flex;
    width: 670.6px;
    height: 26.69px;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .partners__icon {
    display: block;
  }
  .hero__hyperlinks {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 1205px) {
  .hero {
    position: relative;
  }
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 841px;
    z-index: -1;
  }

  .background__blue-part {
    position: absolute;
    right: 0;
    top: 0;
    width: calc(470 / 1440 * 100%);
    height: 100%;
    background-color: #bdccff;
  }
  .hero__title {
    padding-top: 224px;
    margin-bottom: 24px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    color: #ff9900;
  }
  .hero__strong {
    margin-bottom: 23px;
    width: 484px;
  }

  .hero__text {
    margin-bottom: 48px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #31353b;
    width: 499px;
  }
  .background-container {
    position: static;
    width: 100%;
    height: 100%;
  }
  .image-container {
    position: absolute;
    right: 10px;
    top: 184px;
    z-index: -1;
    margin: 0;
    width: auto;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.03))
      drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778))
      drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222))
      drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.015))
      drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778))
      drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222));
  }

  .hero__form {
    margin-bottom: 145px;
    width: min(100%, 756px);
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03),
      0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778),
      0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222),
      0px 20px 13px rgba(0, 0, 0, 0.015),
      0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778),
      0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
  }
  .hero__form input {
    padding: 0;
    display: block;
    height: 86px;
    width: 75.13%;
    min-width: 245px;

    font-size: 20px;
    line-height: calc(27 / 20 * 100%);
    color: rgb(49, 53, 59, 0.3);
    opacity: 0.5;
    padding-left: 10px;
    background-color: rgb(255, 255, 255);
  }
  .hero__form button {
    min-height: 86px;
    padding: 0;
    width: 24.87%;
    font-size: 17px;
    line-height: calc(23 / 17 * 100%);
  }
  .arrows-container {
    position: absolute;
    bottom: -32px;
    right: 0;
    display: flex;
    gap: 10px;
  }

  .arrow {
    fill: red;
    width: 11px;
    height: 19.5px;
  }

  .socials {
    margin-top: 15px;
  }
  .socials__list {
    margin-top: 38px;
    margin-right: 100px;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: space-between;
    width: 170px;
    height: 21px;
    align-items: center;
  }
  .socials__item {
    height: fit-content;
    width: fit-content;
  }
  .socials__list a {
    display: block;
    height: fit-content;
    width: fit-content;
  }
  .socials__icon {
    display: block;
    width: auto;
    height: auto;
  }
  .partners {
    margin: 0;
  }
  .partners__header {
    max-width: 174px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #31353b;
    margin: 0 0 27px 0;
  }

  .partners li {
    display: block;
    width: fit-content;
    height: fit-content;
    flex: 0 0 fit-content;
  }

  .partners__list {
    display: flex;
    width: 768.6px;
    height: 26.69px;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .partners__icon {
    display: block;
  }
  .hero__hyperlinks {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 1380px) {
  .socials {
    position: absolute;
    right: -68px;
    top: 368px;
  }
  .socials__list {
    margin-top: 0;
    margin-right: 0;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: space-between;
    width: 21px;
    height: 158px;
    align-items: center;
    flex-direction: column;
  }

  .hero__hyperlinks {
    justify-content: left;
  }
}

/*-----Description----------------------------------------*/
.description {
  margin-top: 70px;
}
.description__title {
  text-align: center;
  max-width: 262px;
  margin: 0 auto;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 55px;
  color: #000000;
}
.description__body {
  margin-top: 20px;
}
.description__item {
}
.card {
  margin: 0 auto;
  width: 260px;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 0;
}
.card__icon-container {
  margin: auto;
  margin-bottom: 10px;
  display: flex;
  width: 90px;
  height: 90px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}
.card__icon-container1 {
  background-color: #9672ff;
  box-shadow: 0px 100px 80px rgba(150, 114, 255, 0.07),
    0px 64.8148px 46.8519px rgba(150, 114, 255, 0.0531481),
    0px 38.5185px 25.4815px rgba(150, 114, 255, 0.0425185),
    0px 20px 13px rgba(150, 114, 255, 0.035),
    0px 8.14815px 6.51852px rgba(150, 114, 255, 0.0274815),
    0px 1.85185px 3.14815px rgba(150, 114, 255, 0.0168519);
}
.card__icon-container2 {
  background-color: #4ddffd;
  box-shadow: 0px 100px 80px rgba(77, 223, 253, 0.07),
    0px 64.8148px 46.8519px rgba(77, 223, 253, 0.0531481),
    0px 38.5185px 25.4815px rgba(77, 223, 253, 0.0425185),
    0px 20px 13px rgba(77, 223, 253, 0.035),
    0px 8.14815px 6.51852px rgba(77, 223, 253, 0.0274815),
    0px 1.85185px 3.14815px rgba(77, 223, 253, 0.0168519);
}
.card__icon-container3 {
  background-color: #f2b8ec;
  box-shadow: 0px 100px 80px rgba(242, 184, 236, 0.07),
    0px 64.8148px 46.8519px rgba(242, 184, 236, 0.0531481),
    0px 38.5185px 25.4815px rgba(242, 184, 236, 0.0425185),
    0px 20px 13px rgba(242, 184, 236, 0.035),
    0px 8.14815px 6.51852px rgba(242, 184, 236, 0.0274815),
    0px 1.85185px 3.14815px rgba(242, 184, 236, 0.0168519);
}

.card__icon {
  width: 25px;
  height: 25px;
}
.card__header {
  margin-bottom: 10px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}
.card__text {
  margin-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}
.bar {
  display: none;
}

@media screen and (min-width: 600px) {
  .description {
    margin-top: 140px;
  }
  .description__body {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-top: 170px;
  }
  .card {
    margin: 0 auto;
    width: 33%;
    text-align: center;
    margin-bottom: 15px;
  }
  .description__body {
    top: 0;
    left: 0;
    width: 100%;
    margin: 50px auto 0 auto;
    justify-content: space-between;
  }

  .card {
    position: relative;
    width: 260px;
    margin: 0;
  }
  .card__icon-container {
    margin-bottom: 30px;
  }
  .card__header {
    margin-bottom: 15px;
  }
  .card__text {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1205px) {
  .description {
    margin-top: 230px;
  }
  .description__body {
    top: 0;
    left: 0;
    width: 100%;
    margin: 70px auto 0 auto;
    justify-content: space-between;
  }

  .card {
    position: relative;
    width: 260px;
    margin: 0;
  }
  .bar {
    position: absolute;
    display: flex;
    list-style: none;
    align-items: baseline;
    height: 11px;
  }
  .bar > li {
    position: relative;
    display: flex;
    align-items: center;
  }
  .bar1 > li:first-of-type::before {
    content: "";
    display: inline-block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #9672ff;
  }
  .bar1 > li:last-of-type::before {
    content: "";
    display: inline-block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #4ddffd;
  }
  .bar2 > li:first-of-type::before {
    content: "";
    display: inline-block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #4ddffd;
  }
  .bar2 > li:last-of-type::before {
    content: "";
    display: inline-block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #f2b8ec;
  }
  .bar > li:after {
  }
  .bar1 > li:first-of-type:after {
    position: relative;
    display: inline-block;
    content: " ";
    height: 3px;
    background: linear-gradient(to right, transparent 50%, #ffffff 50%),
      linear-gradient(to right, #9572ff35, #4de0fd35);
    background-size: 16px 2px, 100% 2px;
    width: 210px;
  }
  .bar2 > li:first-of-type:after {
    position: relative;
    display: inline-block;
    content: " ";
    height: 4px;
    background: linear-gradient(to right, transparent 50%, #ffffff 50%),
      linear-gradient(to right, #4de0fd35, #f2b8ec2f);
    background-size: 16px 2px, 100% 2px;
    width: 210px;
  }
  .bar > li:last-of-type:after {
    top: -50%;
  }

  .bar1 {
    position: absolute;
    top: 41px;
    right: 26px;
    transform: translateX(100%);
  }
  .bar2 {
    position: absolute;
    top: 41px;
    right: 26px;
    transform: translateX(100%);
  }
  .card__icon-container {
    margin-bottom: 50px;
  }
  .card__header {
    margin-bottom: 15px;
  }
  .card__text {
    margin-bottom: 0;
  }
}

/*-----Best-deals----------------------------------------*/
.best-deals {
}
.best-deals__title {
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 55px;
  margin-bottom: 15px;
  text-align: center;
}

.best-deals__text {
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 15px;
  text-align: center;
}
.best-deals__button {
  display: block;
  margin: auto;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  padding: 22px 33px 20px 34px;
  background-color: #f85a47;
  border: none;
  box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07),
    0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481),
    0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185),
    0px 20px 13px rgba(248, 90, 71, 0.035),
    0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815),
    0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
  border-radius: 5px;
  margin-bottom: 15px;
}
.properties {
}
.property {
  margin-bottom: 10px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 26px;
  color: #000000;
}
.property__radio {
  appearance: none;
}
.best-deals__list {
}
.best-deals__item {
  width: min(370px, 100%);
  position: relative;
  margin: 0 auto;
}
.best-deals__item a {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.best-deals__image {
  width: 100%;
  margin: 0 auto;
}
.characteristics {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  justify-content: left;
  gap: 6px;
}
.featured {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 6px 12px;
}
._3d {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 6px 12px;
}
@media screen and (min-width: 600px) {
  .best-deals > div:first-of-type {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  .best-deals__button {
    margin: 0;
    height: fit-content;
  }
  .best-deals {
    margin-top: 120px;
    text-align: left;
  }
  .best-deals__text {
    margin-bottom: 30px;
    width: 470px;
    text-align: left;
  }
  .properties {
    text-align: center;
    display: flex;
    width: min(100%, 800px);
    gap: 15px;
  }
  .best-deals__list {
  }
}
@media screen and (min-width: 900px) {
  .best-deals__list {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
  }
  .best-deals__item {
    width: min(370px, 32%);
  }
}

@media screen and (min-width: 1205px) {
  .best-deals {
    margin-top: 212px;
    text-align: left;
  }
  .best-deals__text {
    margin-bottom: 50px;
    width: 470px;
    text-align: left;
  }
  .properties {
    text-align: center;
    display: flex;
    width: 865px;
    gap: 15px;
  }
}

/*-----proposition----------------------------------------*/
.proposition {
}
.proposition__title {
  margin-top: 20px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 55px;
  text-align: center;
  color: #000000;
}

.proposition__body {
  background: #f1ffff;
  padding-top: 15px;
  padding-bottom: 40px;
}
.proposition__image-container {
  position: relative;
  width: min(492px, 100%);
  margin: 0 auto;
}
.proposition__image1 {
  width: 100%;
}
.proposition__image2 {
  position: relative;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 83%;
  filter: drop-shadow(0px 163px 80px rgba(0, 0, 0, 0.04))
    drop-shadow(0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704))
    drop-shadow(0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963))
    drop-shadow(0px 32.6px 13px rgba(0, 0, 0, 0.02))
    drop-shadow(0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037))
    drop-shadow(0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963))
    drop-shadow(48px 58px 44px rgba(0, 0, 0, 0.09));
}
.proposition__content > h3 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 31px;
  line-height: 42px;
  margin-bottom: 15px;
  text-align: center;
}
.proposition__content > p {
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #545a58;
  margin: 0 auto 15px auto;
  text-align: center;
}
.parameters {
  display: flex;
  width: 100%;
  justify-content: space-around;
  gap: 30px 30px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.parameters > li {
  text-align: center;
  display: block;
  width: 93px;
  flex: 1 0 25%;
  line-height: 23px;
}

.parameters h4 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 23px;
  color: black;
  margin-bottom: 12px;
}
.parameters p {
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;

  color: #545a58;
}
.proposition__button {
  padding: 10px 10px;
  display: block;
  margin: auto;
  border: none;
  max-width: 300px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  background: #f85a47;
  box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07),
    0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481),
    0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185),
    0px 20px 13px rgba(248, 90, 71, 0.035),
    0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815),
    0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
  border-radius: 5px;
}

@media screen and (min-width: 600px) {
  .proposition {
    margin-top: 70px;
  }
  .proposition__body {
    margin-top: 60px;
  }
}
@media screen and (min-width: 900px) {
  .proposition__body {
    display: flex;
    justify-content: space-between;
    padding-top: 33px;
    padding-bottom: 10px;
  }
  .proposition__image-container {
    width: 45%;
  }
  .proposition__content {
    width: 45%;
  }

  .proposition__content > h3 {
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 31px;
    line-height: 42px;
    margin-bottom: 28px;
    text-align: left;
    width: 378px;
    margin-top: 0;
  }
  .proposition__content > p {
    font-family: Manrope;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #545a58;
    margin: 0 0 42px 0;
    text-align: left;
    width: 344px;
  }
  .parameters {
    display: flex;
    width: 470px;
    justify-content: space-around;
    gap: 30px 30px;
    flex-wrap: wrap;
    margin-bottom: 54px;
  }
  .parameters > li {
    text-align: left;
    display: block;
    width: 93px;
    flex: 1 0 25%;
    line-height: 23px;
  }
  .proposition__button {
    padding: 10px 10px;
    display: block;
    margin: auto;
    margin-left: 15px;
    border: none;
    max-width: none;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    background: #f85a47;
    box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07),
      0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481),
      0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185),
      0px 20px 13px rgba(248, 90, 71, 0.035),
      0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815),
      0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
    border-radius: 5px;
    min-height: 53px;
  }
}
@media screen and (min-width: 1190px) {
  .proposition__body {
    display: flex;
    justify-content: left;
    padding-top: 33px;
    padding-left: 29px;
    padding-right: 77px;
    width: 1170px;
    margin: auto;
    padding-bottom: 0;
  }
  .proposition__image-container {
    width: 492px;
    margin: 0;
    margin-right: 77px;
  }
  .proposition__content {
    width: 435px;
    margin: 0;
    min-height: 490px;
    height: fit-content;
    margin-bottom: 88px;
  }

  .proposition__content > h3 {
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 31px;
    line-height: 42px;
    margin-bottom: 28px;
    text-align: left;
    width: 378px;
    margin-top: 43px;
  }
  .proposition__content > p {
    font-family: Manrope;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #545a58;
    margin: 0 0 42px 0;
    text-align: left;
    width: 344px;
  }
  .parameters {
    display: flex;
    width: 470px;
    justify-content: space-around;
    gap: 30px 30px;
    flex-wrap: wrap;
    margin-bottom: 54px;
  }
  .parameters > li {
    text-align: left;
    display: block;
    width: 93px;
    flex: 1 0 25%;
    line-height: 23px;
  }

  .parameters h4 {
    font-family: Manrope;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
    color: black;
    margin-bottom: 12px;
  }
  .parameters p {
    font-family: Manrope;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;

    color: #545a58;
  }
  .proposition__button {
    padding: 10px 10px;
    display: block;
    margin: auto;
    border: none;
    max-width: none;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    background: #f85a47;
    box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07),
      0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481),
      0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185),
      0px 20px 13px rgba(248, 90, 71, 0.035),
      0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815),
      0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
    border-radius: 5px;
    width: 412px;
    min-height: 53px;
  }
}

/*-----reviews----------------------------------------*/
.reviews {
  margin-bottom: 30px;
}
.reviews__title {
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 55px;
  text-align: center;
  margin-bottom: 15px;
}
.reviews__list {
}

.reviews__item {
}
.review {
  background: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}
.review__stars-container svg {
  width: 17px;
  height: 17px;
  margin-bottom: 15px;
}
.review__text {
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #333333;
  margin-bottom: 15px;
}
.review__author {
  display: flex;
  gap: 20px;
  align-items: center;
}
.review__author-pic-container {
}
.review__author-name {
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}
.review__author-city {
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #666666;
}
.review__author :last-of-type(div) {
}
.pricing {
  margin-top: 15px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}
.pricing > a {
  text-decoration: underline;
  color: #2cbde7;
}
@media screen and (min-width: 600px) and (max-width: 900px) {
  .reviews__list {
    display: flex;
    justify-content: space-around;
  }
  .reviews__item {
    width: min(32%, 230px);
    position: relative;
    padding-bottom: 100px;
  }
  .review__text {
    font-size: 14px;
  }
  .review__author {
    position: absolute;
    bottom: 20px;
    left: 10px;
  }
  .partners__list--reviews {
    justify-content: space-around;
    width: 100%;
    margin: 0;
  }
  .pricing {
    text-align: center;
  }
}
@media screen and (min-width: 901px) and (max-width: 1190px) {
  .reviews {
    margin-top: 100px;
  }
  .reviews__title {
    text-align: center;
    margin-bottom: 35px;
  }
  .reviews__list {
    display: flex;
    justify-content: space-around;
  }
  .reviews__item {
    width: 30%;
    position: relative;
    padding-bottom: 100px;
  }
  .review__text {
    font-size: 16px;
  }
  .review__author {
    position: absolute;
    bottom: 20px;
    left: 10px;
  }
  .reviews__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
  }
  .partners__list--reviews {
    justify-content: space-around;
    margin: 0;
    gap: 25px;
    flex: 0 1 500px;
    width: auto;
  }
  .pricing {
    text-align: left;
    width: 311px;
    margin: 0;
  }
  .partners {
    margin: 0;
  }
}
@media screen and (min-width: 1191px) {
  .reviews {
    margin-top: 196px;
  }
  .reviews__title {
    text-align: left;
    margin-bottom: 51px;
    width: 570px;
  }
  .reviews__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 84px;
  }
  .reviews__item {
    padding: 52px 38px;
    width: 380px;
  }
  .review__text {
    font-size: 16px;
    margin-top: 33.64px;
    margin-bottom: 53px;
    width: 270px;
  }
  .review__author {
  }
  .reviews__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 45px;
    margin-right: 44px;
  }
  .partners__list--reviews {
    justify-content: space-between;
    margin: 0;
    width: 672px;
  }
  .pricing {
    text-align: left;
    width: 311px;
    margin: 0;
  }
  .partners {
    margin: 0;
  }
}

/*-----subscription----------------------------------------*/
.subscription {
  padding-bottom: 70px;
  position: relative;
}
.subscription::after {
  display: block;
  content: " ";
  width: min(889px, 100%);
  height: 1px;
  background-color: #dedfe1;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.subscription__title {
  text-align: center;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 144.2%;
  letter-spacing: 0.02em;
  color: #31353b;
  margin-bottom: 11px;
}
.subscription__subtitle {
  text-align: center;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 144.2%;
  letter-spacing: 0.02em;
  color: #31353b;
  margin-bottom: 34px;
}
.subscription__form {
  text-align: center;
  box-shadow: 0px 163px 80px rgba(0, 0, 0, 0.04),
    0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704),
    0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963),
    0px 32.6px 13px rgba(0, 0, 0, 0.02),
    0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037),
    0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963);
}
.subscription__form label {
  display: block;
  margin: auto;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 144.2%;
  letter-spacing: 0.02em;
  color: rgb(49, 53, 59, 0.2);
}
.subscription__form input {
  display: block;
  margin: auto;
  border: none;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 144.2%;
  letter-spacing: 0.02em;
  color: #31353b;
}

.subscription__form button {
  display: block;
  margin: auto;
  padding: 23px 39px 23px 40px;
  font-family: DM Sans;
  font-style: normal;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 144.2%;
  letter-spacing: 0.02em;
  color: #ffffff;

  background: #f85a47;
  box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07),
    0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481),
    0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185),
    0px 20px 13px rgba(248, 90, 71, 0.035),
    0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815),
    0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
}
@media screen and (min-width: 600px) {
  .subscription {
    padding-bottom: 100px;
    margin-top: 100px;
  }
  .subscription__title {
    text-align: center;
    font-family: Manrope;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 144.2%;
    letter-spacing: 0.02em;
    color: #31353b;
    margin-bottom: 11px;
  }
  .subscription__subtitle {
    text-align: center;
    font-family: Manrope;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 144.2%;
    letter-spacing: 0.02em;
    color: #31353b;
    margin-bottom: 34px;
  }
  .subscription__form {
    text-align: left;
    box-shadow: 0px 163px 80px rgba(0, 0, 0, 0.04),
      0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704),
      0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963),
      0px 32.6px 13px rgba(0, 0, 0, 0.02),
      0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037),
      0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963);
    display: flex;
    padding: 26px 30px 26px 45px;
    justify-content: space-between;
    width: min(686px, 100%);
    margin: auto;
  }

  .subscription__form label {
    display: block;
    margin: auto;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 144.2%;
    letter-spacing: 0.02em;
    color: rgb(49, 53, 59, 0.2);
    margin-bottom: 11px;
  }
  .subscription__form input {
    display: block;
    margin: auto;
    border: none;
    font-family: Manrope;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 144.2%;
    letter-spacing: 0.02em;
    color: #31353b;
  }

  .subscription__form button {
    display: block;
    margin: 0;
    padding: 23px 39px 23px 40px;
    font-family: DM Sans;
    font-style: normal;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 144.2%;
    letter-spacing: 0.02em;
    color: #ffffff;
    width: 167px;
    background: #f85a47;
    box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07),
      0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481),
      0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185),
      0px 20px 13px rgba(248, 90, 71, 0.035),
      0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815),
      0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
  }
}
@media screen and (min-width: 1200px) {
  .subscription {
    padding-bottom: 160px;
    margin-top: 372px;
  }
  .subscription__title {
    text-align: center;
    font-family: Manrope;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 144.2%;
    letter-spacing: 0.02em;
    color: #31353b;
    margin-bottom: 11px;
  }
  .subscription__subtitle {
    text-align: center;
    font-family: Manrope;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 144.2%;
    letter-spacing: 0.02em;
    color: #31353b;
    margin-bottom: 34px;
  }
  .subscription__form {
    text-align: left;
    box-shadow: 0px 163px 80px rgba(0, 0, 0, 0.04),
      0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704),
      0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963),
      0px 32.6px 13px rgba(0, 0, 0, 0.02),
      0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037),
      0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963);
    display: flex;
    padding: 26px 30px 26px 45px;
    justify-content: space-between;
    width: min(686px, 100%);
    margin: auto;
  }

  .subscription__form label {
    display: block;
    margin: auto;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 144.2%;
    letter-spacing: 0.02em;
    color: rgb(49, 53, 59, 0.2);
    margin-bottom: 11px;
  }
  .subscription__form input {
    display: block;
    margin: auto;
    border: none;
    font-family: Manrope;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 144.2%;
    letter-spacing: 0.02em;
    color: #31353b;
  }

  .subscription__form button {
    display: block;
    margin: 0;
    padding: 23px 39px 23px 40px;
    font-family: DM Sans;
    font-style: normal;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 144.2%;
    letter-spacing: 0.02em;
    color: #ffffff;
    width: 167px;
    background: #f85a47;
    box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07),
      0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481),
      0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185),
      0px 20px 13px rgba(248, 90, 71, 0.035),
      0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815),
      0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
  }
}

/*-----footer----------------------------------------*/

.footer__body a {
  margin-bottom: 10px;
}
.footer__body ul {
  margin-bottom: 10px;
}
.menu-footer a {
  display: block;
  width: fit-content;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 17px;

  color: #31353b;
}

.menu-footer a::after {
  margin-top: 10px;
  content: " ";
  display: block;
  height: 4px;
  background-color: #31353b;
  border-radius: 2px;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 500ms;
}
.menu-footer a:hover::after {
  transform: scaleX(1);
}

.logo {
  display: block;
  margin-top: 38px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 23px;
  line-height: 31px;

  color: #31353b;
}

.copy {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;

  color: #31353b;
  margin-bottom: 10px;
}
@media screen and (min-width: 900px) {
  .footer {
    margin-top: 60px;
  }
  .footer__body {
    margin: auto;
    width: 889px;
    display: flex;
    height: 31px;
    justify-content: space-between;
    align-items: center;
  }
  .menu-footer {
    display: flex;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    width: 487px;
    color: #31353b;
    justify-content: space-between;
    height: 17px;
    margin: 0;
  }
  .footer__body ul {
    margin-bottom: 0px;
  }
  .footer__body .logo {
    margin: 0;
  }
  .copy {
    text-align: center;
    margin-top: 69px;
  }
}

/* final */
