.wrapper {
  overflow: hidden;
  min-height: 100%;
}

._container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 10px;
}

/*-----Header----------------------------------------*/

.header {
}
.header__body {
  display: flex;
  height: 100px;
  justify-content: space-between;
}
._container {
}
.logo {
  display: block;
  margin-top: 38px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 23px;
  line-height: 31px;

  color: #31353b;
}
.menu {
  margin-top: 20px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 17px;
}

.menu a {
  display: block;
  color: inherit;
  margin-bottom: 20px;
}

.cross {
}
.main {
}
.footer {
}

.header__viewbox {
  position: relative;
  height: 40px;
  width: 40px;
  margin: 38px 38px 0 0;
  overflow: hidden;
  z-index: 2;
}

.icon {
  display: block;
  height: 40px;
  width: 40px;
}

.header__check {
  margin: 0;
  appearance: none;
}
.header__label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  height: 80px;
}
.header__icons {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 500ms;
}
.header__check:checked {
  background-color: red;
}

.header__check:checked + .header__label > .header__icons {
  transform: translateY(-50%);
}

.menu {
  position: absolute;
  padding-top: 70px;
  padding-left: 15px;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: #f85a47;
  width: 180px;

  z-index: 1;
  margin: 0;
  transition: transform 500ms;
}
.menu-hidden {
  transform: translateY(-100%);
}

.menu-shown {
  transform: translateY(0);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(13, 12, 12, 0.5);
  transition: transform 250ms;
}

.overlay-hidden {
  transform: translateY(-100%);
}
.overlay-shown {
  transform: translateY(0);
}

/*-----Main----------------------------------------*/
.hero {
}

.back {
  position: absolute;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:aquamarine;
  z-index: -1;

}
.hero__title {
  margin-bottom: 24px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  color: #ff9900;
}

.hero__strong {
  display: block;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: calc(73 / 56 * 100%);
  color: #000000;
  margin-bottom: 23px;
}

.hero__text {
  margin-bottom: 48px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.01em;
  color: #31353b;
}

.hero__form {
  display: flex;
}

.hero__form input {
  display: block;
  height: 86px;
}

.
